
u {
    vertical-align: 60%;
    
}
small {
    
    color: blue;
    position:absolute;
    
}

#list {

    height: 200px;
    overflow: scroll;
}
span
 {
    vertical-align: 60%;
    color: blue;
    position:absolute;


}
/* Syntax==>      <u><small>X</small></u>     */
